@font-face {
    font-family: "AmsiPro-Bold";
    src: url("../fonts/AmsiPro-Bold.ttf");
}
@font-face {
    font-family: "AmsiProCond-BoldItalic";
    src: url("../fonts/AmsiProCond-BoldItalic.ttf");
}
@font-face {
    font-family: "AmsiProCond-UltraItalic";
    src: url("../fonts/AmsiProCond-UltraItalic.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "AmsiPro-Ultra";
    src: url("../fonts/AmsiPro-Ultra.ttf");
}
@font-face {
    font-family: "Gobold-Uplow";
    src: url("../fonts/Gobold Uplow.otf");
}

body {
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, select {
    font-size: 15px ;
    font-weight: normal ;
    line-height: 1.5em ;
    color: #333333;
    background-color: $gray-200;
    border-style: solid ;
    border-width: 0 ;
    border-radius: 0 ;
    padding: 15px ;
}


.btn-primary{
    font-family: AmsiProCond-UltraItalic, serif;
    font-weight: normal;
    font-size: 36px;
    color: $white;
    line-height: 1.05;
}

.form-check{
    a {
       color: $white;
       &:hover{
          color: $primary !important;
       }
    }
}

.form-select, .form-control {
    padding: 8px 30px;
    font-size: 21px;
    font-weight: normal;
    line-height: 1.5em;
    color: $white;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $white;
        opacity: 1; /* Firefox */
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $white;
        opacity: 1; /* Firefox */
    }
}

.form-check-input {
    appearance: auto;
    width: 1.5em !important;
    height: 1.5em !important;
}

.invalid-feedback {
   display: block;
   text-align: center;
}

.form-check {
    label {
        font-size: 21px;
        color: rgba(255, 255, 255, 0.8) !important;
        font-family: AmsiPro-Bold;
    }
}

.box-login-form{
    width: 500px;
}

.container{
    min-height: 410px;
}



.accordion-item {
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
    color: #ccc !important;
    background-color: #2d7449 !important;
    border: none;

    .accordion-header{
        .accordion-button{
            color: #fff;
            background-color: #487629 !important;
            font-size: 20px;
        }
    }

    &:last-of-type {
        border-bottom-right-radius: 50px !important;
        border-bottom-left-radius: 50px !important;
        .accordion-button.collapsed {
            border-bottom-right-radius: 50px !important;
            border-bottom-left-radius: 50px !important;
            color: #fff;
            background-color: #487629 !important;
        }
    }
    &:first-of-type {
        border-top-left-radius: 50px !important;
        border-top-right-radius: 50px !important;
        .accordion-button {
            border-top-left-radius: 50px !important;
            border-top-right-radius: 50px !important;
            color: #fff;
            background-color: #487629 !important;
        }
    }
}

.backdrop {
    position:absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgb(0,0,0,0.2);

    .loader16{
        width:50px;
        height:50px;
        margin:30px auto 40px;
        position:relative;

        &:before{
            content:"";
            width:50px;
            position:absolute;
            left:0;
            height:5px;
            border-radius:50%;
            background:#000;
            opacity:.1;
            top:59px;
            animation:shadow .5s linear infinite
        }
        &:after{
            content:"";
            width:50px;
            position:absolute;
            left:0;
            height:50px;
            border-radius:3px;
            background:#008bba;
            top:0;animation:
            loading .5s linear infinite
        }
    }
}


@-webkit-keyframes loading{
    17%{border-bottom-right-radius:3px}
    25%{transform:translateY(9px) rotate(22.5deg)}
    50%{transform:translateY(18px) scale(1,.9) rotate(45deg);border-bottom-right-radius:40px}
    75%{transform:translateY(9px) rotate(67.5deg)}
    100%{transform:translateY(0) rotate(90deg)}
}
@keyframes loading{
    17%{border-bottom-right-radius:3px}
    25%{transform:translateY(9px) rotate(22.5deg)}
    50%{transform:translateY(18px) scale(1,.9) rotate(45deg);border-bottom-right-radius:40px}
    75%{transform:translateY(9px) rotate(67.5deg)}
    100%{transform:translateY(0) rotate(90deg)}
}
@-webkit-keyframes shadow{
    0%,100%{transform:scale(1,1)}
    50%{transform:scale(1.2,1)}
}
@keyframes shadow{
    0%,100%{transform:scale(1,1)}
    50%{transform:scale(1.2,1)}
}

.tInt2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-family: AmsiPro-Bold, serif;
    line-height: 1;
}

.tmeca{
    font-size: 20px;
    font-family: AmsiProCond-BoldItalic, serif;
}

.tmeca span{
    color: #CB9E68;
}
