@font-face {
  font-family: "AmsiPro-Bold";
  src: url(../fonts/AmsiPro-Bold.ttf);
}
@font-face {
  font-family: "AmsiProCond-BoldItalic";
  src: url(../fonts/AmsiProCond-BoldItalic.ttf);
}
@font-face {
  font-family: "AmsiProCond-UltraItalic";
  src: url(../fonts/AmsiProCond-UltraItalic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "AmsiPro-Ultra";
  src: url(../fonts/AmsiPro-Ultra.ttf);
}
@font-face {
  font-family: "Gobold-Uplow";
  src: url(../fonts/Gobold Uplow.otf);
}
body {
 font-family: AmsiPro-Bold;
 color: #fff;
 height: 100%; }

 p {
  color: #b3b3b3;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: AmsiProCond-UltraItalic;
}

a {
  color: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none !important}

  a:hover {
    text-decoration: none !important;
    color: #ba202d;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input[type=text],
  input[type=number],
  input[type=email],
  select,
  textarea {
    width: 100%;
    padding: 8px 30px;
    border: none!important;
    font-size: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    background: #487629!important;
    color: #fff!important;
    border-radius: 3px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input::placeholder {
    color: #fff;
  }
  input[type=radio]{
    width: 1.3em !important;
    height: 1.3em !important;

  }
  input:active, input:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  select:focus, select:active {
    outline: none !important;
  }
  select option {
    background-color: #487629;
  }
  select {
    background-image: url(../img/menu-down.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right 0.75rem center !important;
    background-size: 32px 25px !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
  }
  textarea {
    border-radius: 40px !important;
    padding: 15px !important;
  }
  form label{
    font-size: 21px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: AmsiPro-Bold;
  }
  .btn-primary {
    color: #fff;
    background-color: #bb202d;
    border-color: #bb202d;
  }
  .btn-primary:hover,
  .btn-primary:focus {
    color: #fff;
    background-color: #4a7538;
    border-color: #4a7538;
  }
  .w-80{
    width: 80%;
  }
  .w-90{
    width: 90%;
  }
  /* LOGIN - REGISTRO */
  .bg{
    height: 100vh;
    background-position: center;
  }
  .bgLogin{
    background: rgb(28,76,34);
    background: linear-gradient(34deg, rgba(28,76,34,1) 31%, rgba(46,129,90,1) 100%);
    background-size: 100%;
    height: 100% !important;
  }
  .bgHojas{
    background-image: url(../img/back-texture.png);
    background-size: cover;
    background-position: top;
    min-height: 100vh !important;
  }
  .btnLogin{
    background: #497637;
    border-radius: 0;
    border: none;
    color: #fff;
    font-family: AmsiProCond-UltraItalic;
    font-size: 20px;
    padding: 1px 20px;
    letter-spacing: 1px;
    margin: -25px 4px;
  }
  .boxLogin h3{
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: -0,4em;
    text-align: center;
  }
  .borderLine{
    background: rgba(19, 47, 29, 10.9);
  }
  .pCentrar{
    display: flex;
    align-items: center!important;
  }
  .tAlto{
    height: 100vh;
  }
  .footLogin{
    font-family: AmsiPro-Bold;
    font-size: 21px;
    color: #92a584;
  }
  .pcampa{
    font-family: AmsiProCond-UltraItalic;
    font-weight:normal ;
    font-size: 36px;
    color: #fff;
    line-height: 1.05;
  }
  .hcampa{
    font-family: AmsiProCond-UltraItalic;
    font-weight:normal ;
    font-size: 49px;
    color: #fff;
    line-height: 1.05;
  }
  /* HOME */
  p.tInt{
    font-size: 25px;
    color: #c3996b;
    font-family: AmsiPro-Bold;
    line-height: 1;
  }
  p.tInt span{
    color: #fff;
    font-family: AmsiPro-Ultra;
  }
  .tmeca{
    font-size: 25px;
    font-family:AmsiPro-Bold;
    color: #fff;
    line-height: 1.2;
  }
  .tmeca span{
    font-family:AmsiPro-Ultra;
    color: #6abf4b;
    line-height: 1.2;
  }
  .new1 {
    width: 100%;
    position: absolute;
    border-top: 3px solid #497637;
    z-index: -1;
  }
  .t60{
    top:60%;
  }
  .t90{
    top:90%;
  }

.borderMenu{
  border-left: 4px solid #487629;
  border-right:4px solid #487629;
}
  .czo-btn button{
    font-size: 18px;
    background: transparent;
    border: none;
    padding: 5px;
    color: #fff;
  }
  .footer{
    width: 100%;
    bottom: 0;
  }
  .fixedparte{
    position: fixed;
    bottom: 0;
  }
  .fixedImg{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media (max-width: 767px) {
   .bgLogin{
    background: rgb(28,76,34);
    background: linear-gradient(34deg, rgba(28,76,34,1) 80%, rgba(46,129,90,1) 100%);
    background-size: 100%;
    height: 100%!important;
  }
  .tAlto{
    height: 100%;
  }
 .pCentrar{
    display: block;
    align-items: center!important;
  }
   .btnLogin{
    font-size: 16px;
    padding: 1px 15px;
    margin: -20px 4px;
  }
   .pcampa{
    font-size: 26px;
  }
   input[type=text],
  input[type=number],
  input[type=email],
  select,
  textarea {
    font-size: 18px;
  }
   form label{
    font-size: 18px;
  }
   .footLogin{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  .borderMenu{
    border: none;
    margin-top: 10px;
  }
  p.tInt{
    font-size: 16px;
    text-align: justify;
  }
   .fixedparte{
    position: relative;
    bottom: 0;
  }
  .tCentrar{
    text-align: center;
  }
   .hcampa{
    font-size: 35px;
  }
  .tmeca{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .tmeca br{
    display: none;
  }
  .tmeca span{
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg{
    height: 20vh;
    background-size: 100%;
    background-position: center;
  }
     .footLogin{
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  .tCentrar{
    text-align: center;
  }
  .pCentrar{
    display: block;
    align-items: center!important;
    padding: 20px;
  }
  .w-80{
    width: 90%;
  }
   .tmeca{
    font-size: 16px;
    margin-top: 20px;
  }
  .tmeca br{
    display: none;
  }
  .tmeca span{
    font-size: 18px;
  }
   .fixedparte{
    position: relative;
    bottom: 0;
  }

}
